data/
# Django related
*.log
*.pot
*.pyc
*.sqlite3
__pycache__/
media/
staticfiles/
node_modules/
npm-debug.log
# Python
__pycache__
*.pyc
*.pyo
*.pyd
__init__.py

# Virtual environment
venv/
env/
*.env