<!DOCTYPE html>
<html lang="en">
<head>
  <title>OpenLayers Map</title>
  <script src="https://cdn.jsdelivr.net/npm/ol@v8.1.0/dist/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v8.1.0/ol.css">


  <style>
      /* Set the map's height */
      #map {
          height: 400px;
          width: 100%;
      }
  </style>
</head>
<body>
  <div id="map"></div>
  <script>
    // Create a map object
    const map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([0, 0]), // Set the center coordinates (longitude, latitude)
            zoom: 2 // Set the initial zoom level
        })
    });

    // Create a vector source for markers
    const vectorSource = new ol.source.Vector();

    // Create a vector layer with the source
    const vectorLayer = new ol.layer.Vector({
        source: vectorSource
    });

    map.addLayer(vectorLayer);

    const markerStyle = new ol.style.Style({
        image: new ol.style.Icon({
            anchor: [0.5, 1],
            src: 'https://cdn5.vectorstock.com/i/1000x1000/99/84/map-marker-icon-vector-13489984.jpg', // URL to the marker icon
            scale: 0.01 // Adjust the scale for the desired size (0.5 is 50% of the original size)
        })
    });

    // Loop through markers and add them to the vector source
    {% for marker in markers %}
    const {{ marker.name }} = new ol.Feature({
        geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ marker.location.x }}, {{ marker.location.y }}])) // Access the latitude and longitude from the PointField
    });

    {{ marker.name }}.setStyle(markerStyle);
    vectorSource.addFeature({{ marker.name }});
    {% endfor %}
</script>

</body>
</html>
