{% extends 'base.html' %}

{% block title %}Routes{% endblock %}

{% block header %}
<div class="header">
    <div class="header-text-container">
      <h1 class="header-text">Routes</h1>
    </div>
      <div class="header-buttons">
        <a href="{% url 'changeroute' %}" class="create-booking-button">Change Route</a>
      </div>
</div>  
{% endblock %}

{% block content %}
    <section class="flex">
        <div id="map" class="flex-3"></div>
        <div class="menu flex-1">
            <ul>
                <li><a href="#">About us</a></li>
            </ul>
            <div class="menu-image">
                <img src="{% static 'images/donkey.png' %}" alt="Image Description">
            </div>
        </div>
    </div>
    <div class="contents flex-around">
        <div id="map" class="route-map"></div>
        <div class="controls">
            <ul class="map-list">
                <li><button id="startDrawing">New Route</button></li>
                <li><a href="">List Routes</a></li>
                <li><button id="placeMarker">Place Marker</button></li>
                <li><button id="removeMarker" style="display: none;">Remove Marker</button></li>
                <li><button>List Markers</button></li>
            </ul>
        </div>
    </section>

    <!-- Define a hidden popup container -->
    <!-- <div id="popup" class="ol-popup" style="display: none;">
        <div id="popup-content">
            <p>Choose an option:</p>
            <button id="startDrawing">Start Drawing</button>
            <button id="placeMarker">Place Marker</button>
            <button id="removeMarker" style="display: none;">Remove Marker</button>
        </div>
    </div> -->
    {% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === name + '=') {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([5.048809728652404, 51.6514359606463]),
                zoom: 17
            })
        });

        let draw;
        let markerPlacement = false;
        let selectedMarker = null;

        const markersSource = new ol.source.Vector();
        const markersLayer = new ol.layer.Vector({
            source: markersSource
        });

        const markerStyle = new ol.style.Style({
            image: new ol.style.Icon({
                src: '{% static "img/marker.PNG" %}',
                scale: 0.05
            })
        });

        map.addLayer(markersLayer);

        document.getElementById('startDrawing').addEventListener('click', function () {
            if (!draw) {
                startDrawing();
            }
        });

        function startDrawing() {
            const drawSource = new ol.source.Vector();
            const drawLayer = new ol.layer.Vector({
                source: drawSource
            });

            map.addLayer(drawLayer);

            draw = new ol.interaction.Draw({
                source: drawSource,
                type: 'LineString'
            });

            map.addInteraction(draw);

            draw.on('drawend', function (event) {
                const feature = event.feature;
                const coordinates = feature.getGeometry().getCoordinates();

                submitLineStringData(coordinates);

                map.removeInteraction(draw);
                draw = undefined;
            });
        }

        document.getElementById('placeMarker').addEventListener('click', function () {
            markerPlacement = true;
        });

        function generateUniqueMarkerId() {
            const timestamp = new Date().getTime();
            return `marker_${timestamp}`;
        }

        function getCurrentDate() {
            const now = new Date();
            const year = now.getFullYear();
            const month = (now.getMonth() + 1).toString().padStart(2, '0'); // Month is 0-based, so add 1.
            const day = now.getDate().toString().padStart(2, '0');
            return `${year}-${month}-${day}`;
        }

        map.on('click', function (e) {
            if (markerPlacement) {
                const markerComment = prompt("Enter a description of the obstacle:");
                const markerFeature = new ol.Feature({
                    geometry: new ol.geom.Point(e.coordinate)
                });
                markerFeature.setStyle(markerStyle);
                markerFeature.set('isMarker', true);
                markerFeature.set('comment', markerComment);  // Add the comment to the marker
                markersSource.addFeature(markerFeature);
                markerPlacement = false;

                const latitude = e.coordinate[1];
                const longitude = e.coordinate[0];
                const markerId = generateUniqueMarkerId();
                const datePlaced = getCurrentDate();
                markerFeature.set('id', markerId);

                // Include the comment when submitting marker data
                submitObstacleData(latitude, longitude, datePlaced,markerComment, markerId, );
            } else {
                const features = map.getFeaturesAtPixel(e.pixel);
                if (features) {
                    features.forEach(function (feature) {
                        if (feature.get('isMarker')) {
                            selectedMarker = feature;
                            document.getElementById('removeMarker').style.display = 'block';
                        }
                    });
                }
            }
        });

        document.getElementById('removeMarker').addEventListener('click', function () {
            if (selectedMarker) {
                markersSource.removeFeature(selectedMarker);
                selectedMarker = null;
                document.getElementById('removeMarker').style.display = 'none';
            }
        });

        function submitLineStringData(coordinates) {
            const lineString = {
                type: 'LineString',
                coordinates: coordinates
            };

            $.ajax({
                url: '/follow-me/routes/',
                method: 'POST',
                data: JSON.stringify({
                    action: 'create-route',
                    type: 'LineString',
                    coordinates: lineString,
                    description: 'Example',
                    duration: 5
                }),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                success: function(data) {
                    console.log('LineString data sent to Django successfully.');
                },
                error: function(error) {
                    console.error('Error sending LineString data to Django.');
                }
            });
        }

        function submitObstacleData(latitude, longitude, datePlaced, comment) {
            const obstacleData = {
                action: 'create-obstacle',
                latitude: latitude,
                longitude: longitude,
                date_placed: datePlaced,
                comment: comment  // Include the comment in the marker data
            };

            $.ajax({
                url: '/follow-me/routes/',
                method: 'POST',
                data: JSON.stringify(obstacleData),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                success: function(data) {
                    console.log('Obstacle data sent to Django successfully.');
                },
                error: function(error) {
                    console.error('Error sending obstacle data to Django.');
                }
            });
        }
    </script>
{% endblock %}
