/* Start of what Diyar added */
.map {
    height: 50vh;
    width: 65%;
}

.route-map {
    height: 70vh;
    width: 75%;
}

.contents{
  display: flex;
margin-top: 10%;
margin-left: 10%;
margin-right: 10%;
background-color: white;

}

.flex-around {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.controls {
    width: 35%;
}

.map-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
}

.map-list li {
    font-size: 2em;
    color: rgb(0, 0, 0);
}

.map-list li:last-of-type {
    margin-top: auto;
    margin-bottom: 20px;

}

.map-list a {
    text-decoration: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.map-list a::after{
    font-weight: bold;
    color: rgb(0, 0, 0);
}
/* Media queries for responsiveness */

@media (max-width: 768px) {
    #map {
        width: 100%; /* Full width for smaller screens */
    }

    .flex-around {
        width: 100%; /* Full width for smaller screens */
    }

    .controls {
        width: 100%; /* Full width for smaller screens */
    }

    .map-list li {
        font-size: 1.5em; /* Smaller font size for smaller screens */
    }
}

.errorlist {
  display: flex;
  justify-content: center;
}
.errorlist li{
  font-size: large;
  color: red;
  background-color: white;
  text-wrap: wrap;
  max-width: 50%;
  text-align: center;
}

/* This styles the booking pages */

.booking-page {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  background-color: white;
  width: 50%;
  padding: 5%;
}

.booking-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: white;
}

.booking-box {
  align-self: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 250px; /* Adjust the width as needed */
  box-shadow: 2px 2px 5px #aaa;
}

.booking-container a {
  align-self: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.booking-container a::after {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.booking-buttons-container {
  display: flex;
  justify-content: space-around;
}

.booking-buttons-container a {
  box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.booking-buttons-container a:hover {
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.booking-buttons-container a:active {
	position:relative;
	top:1px;
}

.submitbutton {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.submitbutton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.submitbutton:active {
	position:relative;
	top:1px;
}

/* Some account fixes */

td .errorlist {
  display: inline-block;
  list-style-type: none;
  font-weight: bold;
}

td .errorlist li {
  text-wrap: nowrap;
  font-size: medium;
  background-color: transparent;
  width: 100%;
}
/* End of what Diyar added */
html{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('../images/d12.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
  width: 100%
}

.main {
  flex: 1;
  text-align: center;
  max-width: 600px;
  padding: 20px;
}

.accounttext {
  color: white;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}

.buttons a {
  display: inline-block;
  padding: 15px 40px;
  font-size: 20px;
  text-decoration: none;
  color: #ff0000;
  background-color: #555;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttons a:hover {
  background-color: #333;
}

  /*menu container */
  .menu-container {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 999;
  }
  
  .menu-button {
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .menu-button.active {
    background-color: #000000; 
    border: 2px solid #000000; 
    color: white; 
}
  .menu {
    width: 250px;
    height: 100%;
    background-color: #333;
    padding: 20px;
    z-index: 998;
    transition: 0.4s;
    margin-left: -350px;
  }
  
  .menu.open {
    margin-left: 0;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu ul li {
    margin-bottom: 10px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
  .menu-image {
    margin-top: 20px;
    text-align: center;
  }
  
  .menu-image img {
    width: 100%;
    height: auto;
  }

  .logo-container {
    text-align: center;
}

  .logo-container:hover img {
    transform: scale(1.2);
    cursor: pointer;
  }

  .logo-container img {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease, cursor 0.3s ease;
  }

  /* login/register css */
  .container {
    font-family: "Franklin Gothic Medium", Arial, sans-serif;
    color: #333;
    padding: 50px;
    padding-bottom: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url('../media/background2.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/container.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: -1;
  }
/* Headers */

.header {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  top: 0;
  width: 100%;
}

.header-text-container {
  display: flex;
  align-items: center;
  margin: 0 auto; /* Horizontally center the text container */
}

.header-text {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.create-booking-button {
  text-decoration: none;
  background-color: #050808;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.create-booking-button:hover {
  transform: scale(1.05);
}

.sub-header-text {
  font-size: 24px; 
  font-weight: bold;
  text-align: center;
  margin: 0;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  color: #ffffff;
  padding: 10px;
}

  .container h1,
  .form-group label {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 1px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    font-family: "Franklin Gothic Medium", Arial, sans-serif;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: #fff;
  }
  input[type="submit"],
a.search-button {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  background-color: #777;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  text-decoration: none;
}
.search-button2 {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  background-color: #777;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  text-decoration: none;
}
.search-button2:hover {
  transform: scale(1.1);
  text-decoration: none;
}
input[type="submit"]:hover,
a.search-button:hover {
  transform: scale(1.1);
  text-decoration: none;
}
  .form-group{
    margin-bottom: 10px;
  }
  .form-group.register-link {
    font-family: "Franklin Gothic Medium", Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    background-color: #777;
    color: #ffffff;
    padding: 1px 4px;
    border: none;
    border-radius: 5px;
  }
  
  .form-group.register-link a {
    background-color: #777;
    color: #ffffff;
    padding: 1px 1px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s, color 0.3s;
    display: inline-block;
  }
  
  .form-group.register-link a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    color: #ff0000;
  }
  .button-group input[type="submit"]:hover,
  .button-group a.search-button:hover {
    color: #ff0000;
    text-decoration: none;
  }
  a.search-button:active {
    color: #ffffff;
    text-decoration: none;
  }
  /* dashboard */
  
  .dashboard-links {
    /* position: sticky; */
    text-align: center;
    max-width: 600px;
    width: 80%; 
    margin: auto; 
  }
  

  /* Bookings  */
  
  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
  
  .Bookings-form-table {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.911);
    border: 1px solid #ccc;
  }
  
  .Bookings-form-table th {
    background-color: #125205;
    color: #fff;
    border: 1px solid #125205;
    padding: 8px;
    text-align: left;
  }
  
  .Bookings-form-table td {
    border: 1px solid #ccc;
    padding: 1em 2em;
    text-align: left;
    color: #fff;
  }
  
  .input-field {
    width: 100%;
    box-sizing: border-box;
  }
  
  .update-button {
      padding: 10px 20px; 
      background-color: #125205;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: transform 0.2s;
      font-weight: bold; 
  }

  .update-button2 {
      padding: 10px 20px; 
      background-color: #125205;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: transform 0.2s;
      font-weight: bold; 
  }
  
  .delete-button,
  .delete-button2 {
      padding: 10px 20px; 
      background-color: red;
      text-decoration: none;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: transform 0.2s;
      font-weight: bold; 
  }
  
  .update-button:hover,
  .delete-button:hover,
  .update-button2:hover,
  .delete-button2:hover {
      background-color: #000000;
      transform: scale(1.05);
      text-decoration: none;

  }
  
   /* Dashboard  */
   
   .dashboard-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    margin-top: 10%;
  }

.dashboard-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.911);
  color: #fff;
  border: 1px solid #ccc;
  padding: 50px 200px;
  width: 50%;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold; 
}

/* about us */

.about-us {
  padding: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background color with transparency */
  background-image: url('../images/d6.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: white; /* Set the text color to white */
}

.about-us .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us h2,
.about-us h3,
.about-us p,
.about-us ul {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* Text background with transparency */
  padding: 10px;
  border-radius: 10px;
}

.about-us .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us h2,
.about-us h3 {
  font-size: 28px; /* Increase the font size */
  color: white; /* Set text color to white */
  font-weight: bold; /* Make the text bold */
  background-color: rgba(0, 0, 0, 0.7); /* Text background with transparency */
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.about-us p,
.about-us ul {
  font-size: 20px; /* Increase the font size */
  color: white; /* Set text color to white */
  font-weight: bold; /* Make the text bold */
  background-color: rgba(0, 0, 0, 0.7); /* Text background with transparency */
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.about-us ul {
  list-style: disc;
  margin-left: 20px;
}

/* video */

.hero {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.hero-container {
  height: 100vh;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.hero h1 {
  font-size: 36px;
  margin: 0;
}

.hero p {
  font-size: 18px;
  margin: 20px 0;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFA500;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* footer */
.footer-content {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* buttons */

.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.update-button2 {
  text-decoration: none;
  margin-top: 10px;
  margin-right: 300px;
}

.delete-button2 {
  text-decoration: none;
  margin-top: 10px;
  margin-left: 300px;
}