{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block header %}
<div class="header">
    <div class="header-text-container">
        <h1 class="header-text">Change Password</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="table-container">
    <table class="Bookings-form-table">
        <tr>
            <td>Current Password:</td>
            <td><input class="input-field" type="text" id="start-date"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
        <tr>
            <td>New Password:</td>
            <td><input class="input-field" type="text" id="end-date"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
        <tr>
            <td>New password:</td>
            <td><input class="input-field" type="text" id="num-guests"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
    </table>
</div>
<div class="button-container">
    <button class="update-button2">Forgot Password</button>
    <button class="delete-button2">Change Password</button>
</div>
{% endblock %}