{% extends 'base.html' %}
{% load static %}

{% block title %}Account{% endblock %}

{% block header %}
<div class="header">
    <div class="header-text-container">
        <h1 class="header-text">Account</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="table-container">
    <table class="Bookings-form-table">
        <tr>
            <td>First Name:</td>
            <td><input class="input-field" type="text" id="start-date"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input class="input-field" type="text" id="end-date"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
        <tr>
            <td>Date of birth:</td>
            <td><input class="input-field" type="text" id="num-guests"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input class="input-field" type="text" id="pin"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
        <tr>
            <td>Username:</td>
            <td><input class="input-field" type="text" id="status"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
    </table>
</div>
<div class="button-container">
    <a href="{% url 'accountlogin' %}">
        <button class="update-button2">Change Password</button>
    </a>
    <button class="delete-button2">Delete Account</button>
</div>
{% endblock %}
