{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/ol@v8.1.0/dist/ol.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v8.1.0/ol.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">
</head>

<body>
    {% block header %}
    {% endblock %}
    <div class="menu-container">
        <button id="menu-button" class="menu-button">&#9776;</button>
        <div class="menu">
            <ul>
                <li><a href="{% url 'index' %}">HomePage</a></li>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                {% if user.customer.pk %}
                <li><a href="{% url 'account' user.customer.pk %}">Account</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="#" data-scroll="about-us" id="about-us-link">About us</a></li>
            </ul>
            <div class="menu-image">
                <img src="{% static 'images/donkey.png' %}" alt="Image Description">
            </div>
        </div>
    </div>
    <section>   
        {% block content %}
        {% endblock %}
        {% block script %}
        {% endblock %}
    </section>
    <script src="{% static 'javascript/navbar.js' %}"></script>
    <footer>
        <div class="footer-content">
            <p>&copy; {% now "Y" %} DonkeyTravel. All rights reserved.</p>
        </div>
    </footer>
</body> 
</html>
