{% extends "base.html" %}
{% load static %}

{% block title %}Bookings{% endblock %}

{% block header %}
<div class="header-text-container">
</div>
<div class="header">
    <div class="header-text-container">
        <h1 class="header-text">Bookings</h1>
    </div>
</div> 
{% endblock %}

{% block content %}
<main class="container">
    <h2>Your Bookings:</h2>
    <div class="booking-container">
        {% for booking in bookings %}
            <a href="{% url 'booking_detail' booking.id %}">
                <div class="booking-box">
                    <p><strong>Start Date:</strong> {{ booking.start_date }}</p>
                    <p><strong>Route:</strong> {{ booking.route }}</p>
                    <p><strong>Status:</strong> {{ booking.status.status }}</p>
                    {% if request.user.is_staff %}
                        <p><strong>Customer:</strong> {{ booking.customer.name }}</p>
                    {% endif %}
                </div>
            </a>
        {% empty %}
            <p>No bookings found.</p>
        {% endfor %}
    </div>
</main>
{% endblock %}