{% extends 'base.html' %}
{% load static %}

{% block title %}Make Booking{% endblock %}

{% block header %}
<div class="header">
    <div class="header-text-container">
        <h1 class="header-text">Make Booking</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="table-container">
    <table class="Bookings-form-table">
        <tr>
            <td>Start date:</td>
            <td><input class="input-field" type="text" id="start-date"></td>
        </tr>
        <tr>
            <td>End date:</td>
            <td><input class="input-field" type="text" id="end-date"></td>
        </tr>
        <tr>
            <td>Number of Guests:</td>
            <td><input class="input-field" type="text" id="num-guests"></td>
        </tr>
        <tr>
            <td>Pin:</td>
            <td><input class="input-field" type="text" id="pin"></td>
        </tr>
    </table>
</div>
<div class="button-container">
    <button class="update-button">Create Booking</button>
</div>
{% endblock %}
