{% extends 'base.html' %}
{% load static %}

{% block title %}My Bookings{% endblock %}

{% block header %}
<div class="header">
    <div class="header-text-container">
        <h1 class="header-text">My Bookings</h1>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="table-container">
    <table class="Bookings-form-table">
        <tr>
            <td>Start date:</td>
            <td><input class="input-field" type="text" id="start-date"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
        <tr>
            <td>End date:</td>
            <td><input class="input-field" type="text" id="end-date"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
        <tr>
            <td>Number of Guests:</td>
            <td><input class="input-field" type="text" id="num-guests"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
        <tr>
            <td>Pin:</td>
            <td><input class="input-field" type="text" id="pin"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><input class="input-field" type="text" id="status"></td>
            <td><button class="update-button">Update</button></td>
        </tr>
    </table>
    <button class="delete-button">Delete Booking</button>
</div>
{% endblock %}
