{% extends "base.html" %}
{% load static %}

{% block title %}Bookings{% endblock %}

{% block header %}
<div class="header-text-container">
</div>
<div class="header">
    <div class="header-text-container">
        <h1 class="header-text">Bookings</h1>
    </div>
</div> 
{% endblock %}

{% block content %}
<main class="container">
    <h2>Your Bookings:</h2>
    <div class="booking-container">
        <a href="{% url 'bookingcreate' %}">
            <div class="booking-box">
                <p><strong>Book Your Donkey Adventure</strong></p>
            </div>
        </a>
        <h3>Bookings:</h3>
        {% for booking in bookings %}
            <a href="{% url 'booking_detail' booking.id %}">
                <div class="booking-box2">
                    <p><strong>Start Date:</strong> {{ booking.start_date }}</p>
                    <p><strong>Route:</strong> {{ booking.route }}</p>
                    <p><strong>Status:</strong> {{ booking.status.status }}</p>
                    {% if request.user.is_staff %}
                        <p><strong>Customer:</strong> {{ booking.customer.name }}</p>
                    {% endif %}
                </div>
            </a>
        {% empty %}
            <p class="empty-message">No bookings found.</p>
        {% endfor %}
    </div>    
    <div class="booking-container">
        <a href="{% url 'reststop_create' %}">
            <div class="booking-box">
                <p><strong>Book Your Rest stop</strong></p>
            </div>
        </a>
        <h3>Rest Stops:</h3>
        {% for reststop in reststops %}
            <a href="{% url 'reststop_detail' reststop.id %}">
                <div class="booking-box2">
                    <p><strong>Restaurant:</strong> {{ reststop.restaurant }}</p>
                    <p><strong>Booking:</strong> {{ reststop.booking }}</p>           
                </div>
            </a>
        {% empty %}
        <p class="empty-message">No rest stops found.</p>
        {% endfor %}
    </div>    
    <div class="booking-container">
        <a href="{% url 'overnightstay_create' %}">
            <div class="booking-box">
                <p><strong>Book Your Overnight stay</strong></p>
            </div>
        </a>
        <h3>Overnight Stays:</h3>
        {% for overnightstay in overnightstays %}
            <a href="{% url 'overnightstay_detail' overnightstay.id %}">
                <div class="booking-box2">
                    <p><strong>Inn:</strong> {{ overnightstay.inn }}</p>
                    <p><strong>Booking:</strong> {{ overnightstay.booking }}</p>           
                </div>
                </div>
            </a>    
        {% empty %}
        <p class="empty-message">No overnight stays found.</p>
        {% endfor %}
    </div>    
</main>
{% endblock %}