{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block header %}
<div class="header-text-container">
</div>
<div class="header">
    <div class="header-text-container">
    <h1 class="header-text">Dashboard</h1>
    </div>
</div> 
{% endblock %}

{% block content %}
<div class="dashboard-links">
    <a href="{% url 'bookings' %}">Bookings</a>
    {%if user.is_staff %}
        <a href="{% url 'list_accommodations' %}">Accommodations</a>
    {% endif %}
    <a href="{% url 'routes' %}">Routes</a>
    <a href="/account">Account</a>
</div>
{% endblock %}
