{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">
</head>
<body>
    <div class="header">
        <div class="header-text-container">
          <h1 class="header-text">My Bookings</h1>
        </div>
      </div>
    <div class="menu-container">
        <button id="menu-button" class="menu-button">&#9776;</button>
        <div class="menu">
            <ul>
                <li><a href="{% url 'index' %}">HomePage</a></li>
                <li><a href="{% url 'guestdashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'staffdashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'account' %}">Account</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="#" data-scroll="about-us" id="about-us-link">About us</a></li>
            </ul>
            <div class="menu-image">
                <img src="{% static 'images/donkey.png' %}" alt="Image Description">
            </div>
        </div>
    </div>
    <div class="contents">
        <!-- Your website content goes here -->
    </div>
    <script src="{% static 'javascript/navbar.js' %}"></script>
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 DonkeyTravel. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>