{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">
</head>

<body>
    <header>
        <div class="logo-container">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo.jpg' %}" alt="Logo">
            </a>
        </div>
    </header>
    <main>
        <div class="container">
            <h1>REGISTER</h1>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div>
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </main>

<footer>
    <div class="footer-content">
        <p>&copy; 2023 LOLskins. All rights reserved.</p>
    </div>
</footer>

</body>
</html>